@use "variables" as v;
@use "mixins" as m;

.about-section {
  padding: 140px 0 0 0;

  .about {
    margin: 0 auto;
    @include m.d-flex(start, center, nowrap, column, 0, 130px);

    &__quality {
      width: 100%;
      height: 400px;
      padding: 0 0 0 15px;
      background: url("../assets/img/desktop_alpha.webp") 100% 100% / contain
        no-repeat;

      &-title {
        margin: 0;
        @include m.font(45px, 400, v.$color_white);
      }

      &-desc {
        margin: 10px 0 0 0;
        max-width: 590px;
        @include m.font(20px, 300, v.$color_white);
        line-height: 1.5;
      }

      @media (max-width: v.$media__xl) {
        background: linear-gradient(
            180deg,
            rgba(103, 143, 242, 1) 0%,
            rgba(103, 143, 242, 0) 74%
          ),
          url("../assets/img/desktop_alpha.webp") 90% 45% / 500px no-repeat;
      }

      @media (max-width: v.$media__md) {
        background: url("../assets/img/desktop_alpha.webp") 99% 100% / 420px
          no-repeat;

        &-title {
          @include m.font(35px, 400, v.$color_white);
        }

        &-desc {
          margin: 10px 0 0 0;
          max-width: 500px;
          @include m.font(16px, 300, v.$color_white);
          line-height: 1.4;
        }
      }

      @media (max-width: v.$media__sm) {
        background: url("../assets/img/desktop_alpha.webp") 130px 100% / 400px
          no-repeat;

        &-desc {
          max-width: 320px;
          line-height: 1.3;
        }
      }
    }

    &__touch {
      width: 100%;
      height: 500px;
      padding: 0 15px 0 0;
      position: relative;

      @include m.d-flex(end, flex-end, nowrap, column, 0, 20px);

      &::before {
        content: "";
        width: 100%;
        height: 100%;

        @include m.position(absolute, -1, -1, top, left, 0, -400px);
        background: url("../assets/img/phone_alpha.webp") 0 0 / contain
          no-repeat;
        rotate: z 12deg;
      }

      &-title {
        margin: 0;
        @include m.font(45px, 400, v.$color_white);
        text-align: right;
      }

      &-desc {
        margin: 10px 0 0 0;
        max-width: 480px;
        @include m.font(20px, 300, v.$color_white);
        line-height: 1.5;
        text-align: right;
      }

      @media (max-width: v.$media__xl) {
        &::before {
          @include m.position(absolute, -1, -1, top, left, -35px, -360px);
        }
      }

      @media (max-width: v.$media__lg) {
        height: 450px;
        &::before {
          @include m.position(absolute, -1, -1, top, left, -50px, -380px);
        }
      }

      @media (max-width: v.$media__md) {
        height: 400px;
        @include m.d-flex(start, flex-end, nowrap, column, 0, 20px);

        &::before {
          @include m.position(absolute, -1, -1, top, left, 20px, -250px);
          background: url("../assets/img/phone_alpha.webp") 0 0 / 99% no-repeat;
          rotate: z 65deg;
        }

        &-title {
          @include m.font(35px, 400, v.$color_white);
        }

        &-desc {
          max-width: 340px;
          @include m.font(16px, 300, v.$color_white);
          line-height: 1.4;
        }
      }

      @media (max-width: v.$media__sm) {
        &::before {
          @include m.position(absolute, -1, -1, top, left, 60px, -230px);
          background: url("../assets/img/phone_alpha.webp") 0 0 / 99% no-repeat;
        }
      }

      @media (max-width: v.$media__xs) {
        &::before {
          @include m.position(absolute, -1, -1, top, left, 60px, -230px);
          background: url("../assets/img/phone_alpha.webp") 0 0 / 99% no-repeat;
        }
      }
    }

    &__approach {
      width: 100%;
      height: 800px;
      padding: 0 0 0 15px;
      background: url("../assets/img/cactus_alpha.webp") 100% 100% / contain
        no-repeat;

      &-title {
        margin: 200px 0 0 0;
        @include m.font(45px, 400, v.$color_white);
      }

      &-desc {
        margin: 10px 0 0 0;
        max-width: 730px;
        @include m.font(20px, 300, v.$color_white);
        line-height: 1.5;
      }

      @media (max-width: v.$media__lg) {
        &-desc {
          max-width: 500px;
        }
      }

      @media (max-width: v.$media__md) {
        height: 730px;
        background: url("../assets/img/cactus_alpha.webp") 90% 100% / 320px
          no-repeat;

        &-title {
          margin: 50px 0 0 0;
          @include m.font(35px, 400, v.$color_white);
        }

        &-desc {
          padding: 0 15px 0 0;
          @include m.font(16px, 300, v.$color_white);
          line-height: 1.4;
        }
      }

      @media (max-width: v.$media__sm) {
        height: 500px;
        background: url("../assets/img/cactus_alpha.webp") 99% 100% / 220px
          no-repeat;

        &-title {
          margin: 0;
        }
      }
    }
  }
}
