@use "variables" as v;

%hover-black {
  @media (hover: hover) {
    &:hover {
      cursor: pointer;
      color: v.$color_black;
    }
  }
}

%hover-gray {
  @media (hover: hover) {
    &:hover {
      cursor: pointer;
      color: v.$color_gray;
    }
  }
}

%hover-light {
  @media (hover: hover) {
    &:hover {
      cursor: pointer;
      color: v.$color_white;
    }
  }
}

%hover-black-icon {
  @media (hover: hover) {
    &:hover {
      cursor: pointer;
      fill: v.$color_black;
    }
  }
}

%hover-black-burger {
  @media (hover: hover) {
    &:hover {
      cursor: pointer;
      stroke: v.$color_black;
    }
  }
}
