// $color_blue: #5873b6;
$color_blue: #678ff2;
$color_white: #fff;
$color_black: #000;
$color_gray: #b4b4b4;

$media__xxl: 1400px;
$media__xl: 1200px;
$media__lg: 992px;
$media__md: 768px;
$media__sm: 576px;
$media__xs: 428px;
